body{
    font-family:"Times New Roman", serif;
    background: #fde6f2;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    background:white;
    padding:25px;
    border-radius:25px;
    width:85%;
    max-width:1000px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
    color:#7c3aed;
}

h2{
    color:#a855f7;
}

.box{
    background:#f9e6ff;
    padding:15px;
    margin:15px 0;
    border-radius:20px;
}

input,select,button{
    padding:8px;
    margin:5px;
    border:none;
    border-radius:10px;
    font-family:"Times New Roman", serif;
}

input,select{
    background:white;
}

button{
    background:#d8b4fe;
    cursor:pointer;
}

button:hover{
    background:#c084fc;
}

.board{
    display:flex;
    justify-content:space-between;
    gap:10px;
    margin-top:15px;
}

.column{
    background:#f3e8ff;
    flex:1;
    padding:10px;
    border-radius:20px;
    min-height:250px;
}

.task{
    background:white;
    padding:10px;
    margin:10px 0;
    border-radius:12px;
    cursor:grab;
    box-shadow:0 2px 5px rgba(0,0,0,0.05);
}

.deleteButton{
    margin-top:5px;
    background:#f9a8d4;
}

.deleteButton:hover{
    background:#f472b6;
}
