body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f9;
}

.board {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.column {
    background: white;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    min-height: 300px;
}

.task {
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    cursor: grab;
    text-align: left;
}

.High {
    background: #ffcccc;
}

.Medium {
    background: #fff0b3;
}

.Low {
    background: #ccffcc;
}

.important {
    border: 3px solid gold;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.box {
    background: white;
    margin: 100px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.controls {
    margin: 15px;
}

.controls input,
.controls select,
.controls button {
    padding: 8px;
    margin: 5px;
}

#insights {
    margin: 15px;
    font-weight: bold;
}

#chart {
    margin-top: 20px;
}
